/* reset css zerar algumas formatações
usar o seletor universal * 
asterisco representa todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* declarando variáveis */
:root {
    --bg-dark: #000;
    --color-primary: #fff; 
    --color-secondary: #dc143c;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-title{
    font-size: 35px;  
    color: var(--color-primary);  
}

.logo-color{
    color: var(--color-secondary)
}

.header-page {
    width: 100%;
    height: 80px;
    display: flex;
    /* vertical */
    align-items: center;
    padding: 0 20px;
    /* horizontal */
    justify-content: space-between;
    position: absolute ;
}

.header-menu ul{
    display: flex;
}

.header-menu li { 
    margin: 0 15px;
}

.header-menu a {
    color: var(--color-primary); 
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
}

.header-menu a:hover {
    color: var(--color-secondary);
}






.container {
    width: 100%;
    height: 100vh ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    
}

/* começo hero */
.hero{
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero-title{
    font-size: 30px;
    margin-bottom: 30px;
}

.hero-text{
    width: 50%;
    line-height: 30px;
    margin-bottom: 40px; 
}
.btn{
    font-weight: 700;
    border: 2px solid var(--color-secondary);
    padding: 10px 30px;
    border-radius: 70px;
    background-color: var(--color-secondary);
    transition: .5s;
}
.btn:hover{
    background-color: transparent;
}
/* fim hero */
.bg-image-1{
    background-image: linear-gradient(to top, rgba(255, 55, 55, 0.8), rgba(7, 123, 168, 0.281)), 
    url(../images/pexels-negative-space-34140.jpg);

}

.bg-image-2 {
    background-image: url(../images/pexels-expect-best-246684.jpg);
}

.bg-image-3 {
    background-image: url(../images/pexels-picjumbocom-196659.jpg);
}

.bg-color-1 {
    background-color: var(--bg-dark);
}










    